
<div class ='container'>

<%= render 'calendar' %>

<%= render 'makebet' if current_user %>






<h1>Most recent bets</h1>

<div class="list-group">
<h4 class="list-group-item-heading">Bet Date</h4><h4 class="list-group-item-heading">Bet Amount</h4>
<h4 class="list-group-item-heading">Bet Holder</h4>

<% @bets.each do |bet, user| %>
  <%= div_for bet do %>
  <%= link_to bet.bet_date, :action => "show", :bet_date => bet.bet_date %>
  <%= bet.bet_amount %>
  <%= bet.user.name %>

  <% end %>
<% end %>


</div>