
<div class ='container'>

<%= render 'calendar' %>

<%= render 'makebet' if current_user %>

<% if current_user %>
<%= link_to 'New Bet', new_bet_path, class: "btn btn-primary btn-lg" %>
<% else %>
<% end %>



<h1>Most recent bets</h1>


<table class="table">
  <thead>
    <tr>
      <th>Bet Date</th>
      <th>Amount</th>
      <th>Current Bet Holder</th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= link_to bet.bet_date, :action => "show", :bet_date => bet.bet_date %></td>
        <td><%= bet.bet_amount %></td>
        <td><%= bet.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>